.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* My Css */
section {
  padding-top: 5rem;
}
.jumbotron {
  padding-top: 9rem;
  background-color: #fbc304;
}
.tas,
.pengumuman {
  background-color: #fbc304;
}

.tas-landing-page {
  background-color: #ffd700;
}

.akademik {
  /* background-color: #0099ff; */
  background-color: #0b308f !important;
  color: #fff !important ;
}
.text-white {
  color: #fff;
}
.bg-custom {
  background-color: #0b308f!important;
}
.section-pengumuman {
  /* background: rgb(255, 174, 0);
  background: -moz-linear-gradient(203deg, rgba(255, 174, 0, 1) 0%, rgba(0, 169, 255, 1) 100%);
  background: -webkit-linear-gradient(203deg, rgba(255, 174, 0, 1) 0%, rgba(0, 169, 255, 1) 100%);
  background: linear-gradient(203deg, rgba(255, 174, 0, 1) 0%, rgba(0, 169, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffae00", endColorstr="#00a9ff", GradientType=1); */
  background: rgb(255, 170, 0);
  background: -moz-linear-gradient(203deg, rgba(255, 170, 0, 1) 0%, rgba(97, 0, 255, 1) 100%);
  background: -webkit-linear-gradient(203deg, rgba(255, 170, 0, 1) 0%, rgba(97, 0, 255, 1) 100%);
  background: linear-gradient(203deg, rgba(255, 170, 0, 1) 0%, rgba(97, 0, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa00", endColorstr="#6100ff", GradientType=1);
}